.card{
    border: 1px solid rgb(226, 211, 211);
}
.card:hover{
    background-color: rgb(204, 200, 200);
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.loader {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    color: #FF3D00;
    animation: fill 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    top: 0;
    animation: fill 0.9s ease-in infinite alternate;
}

.loader::before {
    left: 48px;
}

.loader::after {
    right: 48px;
    animation-duration: 1.1s;
}

@keyframes fill {
    0% {
        box-shadow: 0 0 0 2px inset currentColor;
    }

    100% {
        box-shadow: 0 0 0 10px inset currentColor;
    }
}

/* .navbar{
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
} */